
.recipes{
    margin-left: 30%;
    margin-right: 30%;
}

.recipes div{
    margin-top:2%;
    background-color: #F0DA8E;
    padding: 10px;
    border-radius: 8px;
}

.recipes div p{
    text-align: center;
    padding: 4%;
    border-radius: 8px;
    font-family: "Candara Light";
    font-size: 20px;
    color: dimgray;
}

.recipes>p{
    background-color: #F0DA8E;
    text-align: left;
    padding: 4%;
    border-radius: 8px;
    font-family: "Candara Light";
    font-size: 24px;
    color: darkslategrey;
    width: 35%;
}
